//site width
$siteWidth: 1320px;

//text size
$fontSizeSamll: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// color
// background color
$layoutBg: #fff6d0;

// font color
$fontColorBasic: #666;
$fontColorPrimary: #b8944d;
$fontColorHover: #ffcf68;

//border color
$borderColorPrimary: #86d5e0;
$borderBgColor: #002f85;
$tableCell: #ffeb99;

//button color
$gbtnColor: #002f85;
$gbtnColorHover: #86d5e0;
